.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: hsl(0, 0%, 20%);
}

.app[data-dark-mode="true"] {
  background-color: black;
  color: hsl(0, 0%, 90%);
}
