.checkIn {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.2s;
  position: relative;
}

.howAreYouFeeling {
  font-size: 20px;
  margin: 12px 0;
}

.toggleCheckIns {
  position: absolute;
  bottom: 20px;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  background-color: hsl(0, 0%, 90%);
}

.app[data-dark-mode="true"] .toggleCheckIns {
  background-color: hsl(0, 0%, 20%);
}

.app[data-check-ins-open="false"] .checkIn {
  height: 100%;
}

.app[data-check-ins-open="true"] .checkIn {
  height: 380px;
}
