.settings {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px;
  transform: translateX(100%);
  transition: transform 0.2s;
  background-color: white;
  z-index: 2;
  padding: 20px;
}

.app[data-dark-mode="true"] .settings {
  background-color: black;
}

.settings h2 {
  margin-bottom: 20px;
}

.settings[data-open="true"] {
  transform: translateX(0);
}
