.toggleButton {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.toggleButton .toggle {
  width: 48px;
  height: 24px;
  background-color: black;
  border-radius: 24px;
  padding: 2px;
  position: relative;
}

.app[data-dark-mode="true"] .toggleButton .toggle {
  background-color: white;
}

.toggleButton .toggle > div {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: left 0.1s;
}

.app[data-dark-mode="true"] .toggleButton .toggle > div {
  background-color: black;
}

.toggleButton[data-on="true"] .toggle > div {
  left: calc(100% - 22px);
}

.toggleButton .label {
  margin-left: 12px;
}
